# Variables

## Numbers

In [1]:
a=5
print(a)

b=6
print(a + b)
print(type(a))

5
11
<class 'int'>

## Strings

In [11]:
text = ('This is a new string')
print(text)

This is a new string

In [12]:
text2 = (' and this is another string')

### Concatenate Strings

In [13]:
print(text + text2)

This is a new string and this is another string

### Repeat Strings

In [14]:
name = 'kelly '
print(name * 5)

kelly kelly kelly kelly kelly

In [15]:
#booleans
3 == 3
print(3 == 3)
print(3 < 4)

True
True